body {
    background-image: url('/media/main_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: auto;
}