/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/

body {
    background-image: url('/media/image/main_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

h1 {
    color: #f7f7f7;
    background-color: #1b1b1b;
    text-align: center;
}
h2 {
    color: #583305;
    background-color: seashell;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*body {*/
/*    font-family: 'Roboto';*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    !*height: 100vh;*!*/
/*    background-color: mistyrose;*/
/*    background-image: url('/media/image/2023/03/28/default_photo.jpg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    !*height: 100%;*!*/
/*    !*width: 100%;*!*/
/*}*/
* {
	margin: 0;
	padding: 0;
}
html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
	height: 80px;
	margin-top: -80px;
}


/*h1 {*/
/*    color: #f7f7f7;*/
/*    background-color: #1C1C1C;*/
/*    text-align: center;*/
/*}*/
h2 {
    color: #f7f7f7;
    background-color: #c4dce8;
    text-align: right;
    padding-right: 30px;

}

/*.card-body {*/
/*    background-color: #c4dce8;*/
/*}*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    font-family: 'Roboto';*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    !*height: 100vh;*!*/
/*    background-color: mistyrose;*/
/*    background-image: url('/media/image/2023/03/28/default_photo.jpg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    !*height: 100%;*!*/
/*    !*width: 100%;*!*/
/*}*/
/** {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/
/*html,*/
/*body,*/
/*.wrapper {*/
/*	height: 100%;*/
/*}*/
/*.content {*/
/*	box-sizing: border-box;*/
/*	min-height: 100%;*/
/*	padding-bottom: 90px;*/
/*}*/
/*.footer {*/
/*	height: 80px;*/
/*	margin-top: -80px;*/
/*}*/
