{% extends 'base.html' %}
{% load static %}
{% block title %}
    Добавление книги
{% endblock %}

{% block content %}
    <h2>Добавить книгу</h2>

    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input class="btn btn-outline-light" type="submit" value="Добавить книгу">
                <a href="{% url 'books_list' %}" class="btn btn-info">Назад</a>
            </form>

        </div>
    </div>

{% endblock %}
